.rodaPe {
    background-color: #6278F7;
    background-image: url("../../../public/imagens/fundo.png");
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 75px 0;
}

.rodaPe .redesSociais{
    display: flex;
    gap: 34.62px;
}

.rodaPe .redesSociais img{
    width: 100%;
}

.rodaPe p{
    font-size: 20px;
    /*font-weight: bold;*/
    color: #FFF;
}